In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"A":[1, 2, 3], "B":[0, 0, 4], "C":[0, 5, 6]})

In [3]:
df

   A  B  C
0  1  0  0
1  2  0  5
2  3  4  6

In [16]:
df.drop(df.B[df.B == 0].index)

   A  B  C
2  3  4  6

In [17]:
df

   A  B  C
0  1  0  0
1  2  0  5
2  3  4  6

In [2]:
range(10)[9]

9

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import os


# Load the dir
futureOBDir = "/Users/shezihua/Documents/MAFM/2022-2023 Summer/MAFS 6100L/Hongsong CHOU/data/futuresOB/"
futureTradeDir = "/Users/shezihua/Documents/MAFM/2022-2023 Summer/MAFS 6100L/Hongsong CHOU/data/futuresTrades/"
stockDir = "/Users/shezihua/Documents/MAFM/2022-2023 Summer/MAFS 6100L/Hongsong CHOU/data/stocks/"

In [2]:
futurecolNames = ['date', 'time', 'askPrice5', 'askPrice4', 'askPrice3', 'askPrice2',
       'askPrice1', 'bidPrice1', 'bidPrice2', 'bidPrice3', 'bidPrice4',
       'bidPrice5', 'askSize5', 'askSize4', 'askSize3', 'askSize2', 'askSize1',
       'bidSize1', 'bidSize2', 'bidSize3', 'bidSize4', 'bidSize5', 'symbol']
futureFileList = []
for i in os.listdir(futureOBDir + 'JBF' + "/"):
        futureFileList.append(i)

In [3]:
futureFileList

['JBF1_md_202210_202210.csv.gz',
 'JBF1_md_202110_202110.csv',
 'JBF1_md_202205_202205.csv',
 'JBF1_md_202304_202304.csv.gz',
 'JBF1_md_202301_202301.csv.gz',
 'JBF1_md_202008_202008.csv',
 'JBF1_md_202012_202012.csv',
 'JBF1_md_202104_202104.csv',
 'JBF1_md_202101_202101.csv',
 '.DS_Store',
 'JBF1_md_202207_202207.csv',
 'JBF1_md_202112_202112.csv',
 'JBF1_md_202202_202202.csv',
 'JBF1_md_202108_202108.csv',
 'JBF1_md_202211_202211.csv.gz',
 'JBF1_md_202103_202103.csv',
 'JBF1_md_202106_202106.csv',
 'JBF1_md_202010_202010.csv',
 'JBF1_md_202305_202305.csv.gz',
 'JBF1_md_202302_202302.csv.gz',
 'JBF1_md_202105_202105.csv',
 'JBF1_md_202111_202111.csv',
 'JBF1_md_202007_202007.csv',
 'JBF1_md_202201_202201.csv',
 'JBF1_md_202204_202204.csv',
 'JBF1_md_202209_202209.csv.gz',
 'JBF1_md_202009_202009.csv',
 'JBF1_md_202208_202208.csv.gz',
 'JBF1_md_202109_202109.csv',
 'JBF1_md_202102_202102.csv',
 'JBF1_md_202107_202107.csv',
 'JBF1_md_202011_202011.csv',
 'JBF1_md_202306_202306.csv.gz',
 'JBF1_md_202212_202212.csv.gz',
 'JBF1_md_202206_202206.csv',
 'JBF1_md_202203_202203.csv',
 'JBF1_md_202303_202303.csv.gz']

In [4]:
'.DS_Store' in futureFileList

True