In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import os
import func

In [7]:
stock = pd.read_csv("/Users/shezihua/Downloads/DBF-2610/stock.csv.gz", compression='gzip')
future = pd.read_csv("/Users/shezihua/Downloads/DBF-2610/future.csv.gz", compression='gzip')
spread = pd.read_csv("/Users/shezihua/Downloads/DBF-2610/spread.csv.gz", compression='gzip')

In [7]:
future

,date,time,askPrice5,askPrice4,askPrice3,askPrice2,askPrice1,bidPrice1,bidPrice2,bidPrice3,...,askSize3,askSize2,askSize1,bidSize1,bidSize2,bidSize3,bidSize4,bidSize5,symbol,midQ
0,2022-09-01,112552468,2295,2290,2285,2280,2275,2270,2265,2260,...,24,61,43,2,42,39,54,10,DBFI2.cs,2272.5
1,2022-09-01,112552468,2295,2290,2285,2280,2275,2270,2265,2260,...,24,61,43,2,42,39,54,10,DBFI2.cs,2272.5
2,2022-09-01,112553218,2295,2290,2285,2280,2275,2270,2265,2260,...,20,61,43,2,42,39,54,10,DBFI2.cs,2272.5
3,2022-09-01,112553218,2295,2290,2285,2280,2275,2270,2265,2260,...,20,61,43,2,42,39,54,10,DBFI2.cs,2272.5
4,2022-09-01,112553218,2295,2290,2285,2280,2275,2270,2265,2260,...,20,61,43,2,42,39,54,10,DBFI2.cs,2272.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6814181,2023-06-30,132457102,2650,2645,2640,2635,2630,2620,2615,2610,...,35,64,53,26,30,31,17,31,DBFG3.cs,2625.0
6814182,2023-06-30,132457102,2650,2645,2640,2635,2630,2620,2615,2610,...,35,64,53,26,30,31,17,31,DBFG3.cs,2625.0
6814183,2023-06-30,132457102,2650,2645,2640,2635,2630,2620,2615,2610,...,35,64,53,26,30,31,17,31,DBFG3.cs,2625.0
6814184,2023-06-30,132457102,2650,2645,2640,2635,2630,2620,2615,2610,...,35,64,53,26,30,31,17,31,DBFG3.cs,2625.0
6814185,2023-06-30,132457102,2650,2645,2640,2635,2630,2620,2615,2610,...,35,64,53,26,30,31,17,31,DBFG3.cs,2625.0

In [8]:
stock

,date,time,lastPx,size,volume,SP5,SP4,SP3,SP2,SP1,...,SV4,SV3,SV2,SV1,BV1,BV2,BV3,BV4,BV5,price
0,2022-09-01,112553105,NaN,NaN,49863,2295.0,2290.0,2285.0,2280.0,2275.0,...,1588,1030,551,16,283,912,1561,2049,3887,2272.5
1,2022-09-01,112553131,NaN,NaN,49863,2295.0,2290.0,2285.0,2280.0,2275.0,...,1588,1030,551,12,283,912,1561,2049,3887,2272.5
2,2022-09-01,112553221,NaN,NaN,49863,2295.0,2290.0,2285.0,2280.0,2275.0,...,1588,1042,539,12,283,912,1561,2049,3887,2272.5
3,2022-09-01,112553293,2275.0,12.0,49875,2300.0,2295.0,2290.0,2285.0,2280.0,...,1712,1588,1042,539,4,283,912,1561,2049,2277.5
4,2022-09-01,112553320,NaN,NaN,49875,2300.0,2295.0,2290.0,2285.0,2280.0,...,1637,1588,1042,539,4,283,912,1561,1974,2277.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6814181,2023-06-30,132457547,2625.0,1.0,57053,2650.0,2645.0,2640.0,2635.0,2630.0,...,357,1023,660,753,26,2378,1242,2376,1090,2627.5
6814182,2023-06-30,132457690,NaN,NaN,57053,2650.0,2645.0,2640.0,2635.0,2630.0,...,357,1023,660,753,29,2378,1242,2376,1090,2627.5
6814183,2023-06-30,132458187,NaN,NaN,57053,2650.0,2645.0,2640.0,2635.0,2630.0,...,357,1023,660,753,30,2378,1242,2376,1090,2627.5
6814184,2023-06-30,132458842,NaN,NaN,57053,2650.0,2645.0,2640.0,2635.0,2630.0,...,357,1023,660,753,30,2378,1242,2376,1091,2627.5
6814185,2023-06-30,132459143,NaN,NaN,57053,2650.0,2645.0,2640.0,2635.0,2630.0,...,357,1023,660,753,30,2378,1242,2374,1091,2627.5

In [9]:
spread

                0
0        0.000000
1        0.000000
2        0.000000
3        0.002198
4        0.002198
...           ...
6814181  0.000952
6814182  0.000952
6814183  0.000952
6814184  0.000952
6814185  0.000952

[6814186 rows x 1 columns]

In [3]:
import talib

In [8]:
talib.MA(spread, timeperiod=5)

TypeError: Argument 'real' has incorrect type (expected numpy.ndarray, got DataFrame)

In [9]:
stock

,date,time,lastPx,size,volume,SP5,SP4,SP3,SP2,SP1,...,SV4,SV3,SV2,SV1,BV1,BV2,BV3,BV4,BV5,price
0,2022-09-01,112553105,NaN,NaN,49863,2295.0,2290.0,2285.0,2280.0,2275.0,...,1588,1030,551,16,283,912,1561,2049,3887,2272.5
1,2022-09-01,112553131,NaN,NaN,49863,2295.0,2290.0,2285.0,2280.0,2275.0,...,1588,1030,551,12,283,912,1561,2049,3887,2272.5
2,2022-09-01,112553221,NaN,NaN,49863,2295.0,2290.0,2285.0,2280.0,2275.0,...,1588,1042,539,12,283,912,1561,2049,3887,2272.5
3,2022-09-01,112553293,2275.0,12.0,49875,2300.0,2295.0,2290.0,2285.0,2280.0,...,1712,1588,1042,539,4,283,912,1561,2049,2277.5
4,2022-09-01,112553320,NaN,NaN,49875,2300.0,2295.0,2290.0,2285.0,2280.0,...,1637,1588,1042,539,4,283,912,1561,1974,2277.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6814181,2023-06-30,132457547,2625.0,1.0,57053,2650.0,2645.0,2640.0,2635.0,2630.0,...,357,1023,660,753,26,2378,1242,2376,1090,2627.5
6814182,2023-06-30,132457690,NaN,NaN,57053,2650.0,2645.0,2640.0,2635.0,2630.0,...,357,1023,660,753,29,2378,1242,2376,1090,2627.5
6814183,2023-06-30,132458187,NaN,NaN,57053,2650.0,2645.0,2640.0,2635.0,2630.0,...,357,1023,660,753,30,2378,1242,2376,1090,2627.5
6814184,2023-06-30,132458842,NaN,NaN,57053,2650.0,2645.0,2640.0,2635.0,2630.0,...,357,1023,660,753,30,2378,1242,2376,1091,2627.5
6814185,2023-06-30,132459143,NaN,NaN,57053,2650.0,2645.0,2640.0,2635.0,2630.0,...,357,1023,660,753,30,2378,1242,2374,1091,2627.5

In [10]:
talib.MA(stock['SP5'], timeperiod=5)

0             NaN
1             NaN
2             NaN
3             NaN
4          2297.0
            ...
6814181    2650.0
6814182    2650.0
6814183    2650.0
6814184    2650.0
6814185    2650.0
Length: 6814186, dtype: float64