In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import os
import func
import talib

In [27]:
stock = pd.read_csv("/Users/shezihua/Documents/MAFM/2022-2023 Summer/MAFS 6100L/SummerIndependentProject/dataCleaned/EHF-1319/stock.csv.gz", compression='gzip')
future = pd.read_csv("/Users/shezihua/Documents/MAFM/2022-2023 Summer/MAFS 6100L/SummerIndependentProject/dataCleaned/EHF-1319/future.csv.gz", compression='gzip')
spread = pd.read_csv("/Users/shezihua/Documents/MAFM/2022-2023 Summer/MAFS 6100L/SummerIndependentProject/dataCleaned/EHF-1319/spread.csv.gz", compression='gzip')

In [28]:
future

,date,time,askPrice5,askPrice4,askPrice3,askPrice2,askPrice1,bidPrice1,bidPrice2,bidPrice3,...,askSize2,askSize1,bidSize1,bidSize2,bidSize3,bidSize4,bidSize5,symbol,midQ,Unnamed: 0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3572275,2023-06-30,132445478.0,5380.0,5320.0,5310.0,5300.0,5290.0,5260.0,5250.0,5240.0,...,6.0,4.0,5.0,1.0,1.0,12.0,3.0,EHFG3.cs,5275.0,759.0
3572276,2023-06-30,132447102.0,5380.0,5320.0,5310.0,5300.0,5290.0,5260.0,5250.0,5240.0,...,6.0,4.0,5.0,1.0,1.0,12.0,3.0,EHFG3.cs,5275.0,759.0
3572277,2023-06-30,132447102.0,5380.0,5320.0,5310.0,5300.0,5290.0,5260.0,5250.0,5240.0,...,6.0,4.0,5.0,1.0,1.0,12.0,3.0,EHFG3.cs,5275.0,759.0
3572278,2023-06-30,132452478.0,5380.0,5320.0,5310.0,5300.0,5290.0,5260.0,5250.0,5240.0,...,6.0,2.0,5.0,1.0,1.0,2.0,3.0,EHFG3.cs,5275.0,759.0
3572279,2023-06-30,132454603.0,5380.0,5320.0,5310.0,5300.0,5290.0,5260.0,5250.0,5240.0,...,3.0,2.0,5.0,1.0,1.0,2.0,3.0,EHFG3.cs,5275.0,759.0

In [29]:
stock

,date,time,lastPx,size,volume,SP5,SP4,SP3,SP2,SP1,...,SV3,SV2,SV1,BV1,BV2,BV3,BV4,BV5,Unnamed: 0.1,price
0,2020-07-01,90023105,3670.0,5.0,5,3700.0,3695.0,3690.0,3680.0,3670.0,...,1,1,8,1,7,20,21,3,NaN,3667.5
1,2020-07-01,90410349,NaN,NaN,21,3705.0,3700.0,3695.0,3690.0,3685.0,...,4,9,3,4,13,3,9,21,NaN,3680.0
2,2020-07-01,90429430,NaN,NaN,25,3710.0,3705.0,3700.0,3695.0,3690.0,...,16,5,9,7,17,9,21,27,NaN,3680.0
3,2020-07-01,90507460,NaN,NaN,25,3705.0,3700.0,3695.0,3690.0,3685.0,...,3,9,4,1,15,17,13,21,NaN,3680.0
4,2020-07-01,90622661,NaN,NaN,27,3705.0,3700.0,3695.0,3690.0,3685.0,...,5,9,4,1,7,13,13,21,NaN,3682.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3572275,2023-06-30,132445564,NaN,NaN,1959,5290.0,5280.0,5270.0,5260.0,5250.0,...,35,18,15,30,41,87,65,155,NaN,5245.0
3572276,2023-06-30,132449080,5250.0,1.0,1960,5290.0,5280.0,5270.0,5260.0,5250.0,...,35,18,14,30,41,87,65,155,NaN,5245.0
3572277,2023-06-30,132449137,NaN,NaN,1960,5290.0,5280.0,5270.0,5260.0,5250.0,...,35,18,14,30,41,42,65,155,NaN,5245.0
3572278,2023-06-30,132453609,NaN,NaN,1960,5290.0,5280.0,5270.0,5260.0,5250.0,...,34,19,14,30,41,42,65,155,NaN,5245.0
3572279,2023-06-30,132457219,5240.0,4.0,1964,5290.0,5280.0,5270.0,5260.0,5250.0,...,34,19,14,26,41,42,65,155,NaN,5245.0

In [5]:
spread

                0
0        0.000000
1        0.000000
2        0.000000
3        0.002198
4        0.002198
...           ...
6814181  0.000952
6814182  0.000952
6814183  0.000952
6814184  0.000952
6814185  0.000952

[6814186 rows x 1 columns]

In [10]:
def get_factor(df, data):
    # define the pandas dataframe
    df = pd.DataFrame(columns=['MA_5', 'MA_20', 'MA_60'])
    # calculate the moving average
    df['MA_5'] = talib.SMA(data['price'], timeperiod=5)
    df['MA_20'] = talib.SMA(data['price'], timeperiod=20)
    df['MA_60'] = talib.SMA(data['price'], timeperiod=60)

    # calculate the moving average convergence divergence
    df['MACD'], df['MACDsignal'], df['MACDhist'] = talib.MACD(data['spread'], fastperiod=12, slowperiod=26, signalperiod=9)

    # calculate the relative strength index
    df['RSI'] = talib.RSI(data['spread'], timeperiod=14)

    # calculate EMA
    df['EMA_5'] = talib.EMA(data['spread'], timeperiod=5)
    df['EMA_20'] = talib.EMA(data['spread'], timeperiod=20)
    df['EMA_60'] = talib.EMA(data['spread'], timeperiod=60)

    # calculate time to the end of the day,t the end of the day is 13:25
    time_left = (pd.to_datetime('13:25:00') - pd.to_datetime(data.index.time, format='%H:%M:%S')).seconds
    total_time = (pd.to_datetime('13:25:00')-pd.to_datetime('09:00:00')).seconds
    df['time_to_end'] = time_left/total_time
    return df

In [11]:
feature = get_factor(stock)

In [12]:
feature

           MA_5   MA_20   MA_60
0           NaN     NaN     NaN
1           NaN     NaN     NaN
2           NaN     NaN     NaN
3           NaN     NaN     NaN
4        2274.5     NaN     NaN
...         ...     ...     ...
6814181  2627.5  2627.5  2627.5
6814182  2627.5  2627.5  2627.5
6814183  2627.5  2627.5  2627.5
6814184  2627.5  2627.5  2627.5
6814185  2627.5  2627.5  2627.5

[6814186 rows x 3 columns]

In [16]:
##In order to synchronize trade time, too, we create indexes for both dataframes that have the same format
stockData_DateTime = pd.to_datetime(stock.date.astype(str) + ' ' + stock.time.astype(str), format="%Y-%m-%d %H%M%S%f")
futuresData_DateTime = pd.to_datetime(future.date.astype(str) + ' ' + future.time.astype(str), format="%Y-%m-%d %H%M%S%f")

In [26]:
stockData_DateTime

0         2022-09-01 11:25:53.105
1         2022-09-01 11:25:53.131
2         2022-09-01 11:25:53.221
3         2022-09-01 11:25:53.293
4         2022-09-01 11:25:53.320
                    ...
6814181   2023-06-30 13:24:57.547
6814182   2023-06-30 13:24:57.690
6814183   2023-06-30 13:24:58.187
6814184   2023-06-30 13:24:58.842
6814185   2023-06-30 13:24:59.143
Length: 6814186, dtype: datetime64[ns]